body {
   background-color: lightblue;
   margin: 0;
}

#banner {
   background-color: darksalmon;
   display: flex;
   justify-content: center;
   align-items: center;
}

#content {
   display: flex;
   justify-content: center;
   margin: 5% auto;
}

table {
   border-collapse: collapse;
   background-color: ghostwhite;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   max-width: 90%;
   font-family: sans-serif;
}

thead tr {
   background-color: lightgrey;
   text-align: left;
}

tbody tr {
   border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

th, td {
   padding: 8px 15px;
}
