body {
   background-color: lightblue;
   margin: 0;
}

#banner {
   background-color: darksalmon;
   display: flex;
   justify-content: center;
   align-items: center;
}

#content {
   display: flex;
   justify-content: center;
   margin: 5% auto;
}
